Repository shevtsov-dmitry/habit-lens: changes, and which GitLab CI jobs are due for each by the changed paths.
All: verify_runtime, test:backend, test:cli_client

.gitlab-ci.yml:

default:
    image: registry.gitlab.local/root/gleam-ci-runtime/gleam-ci:otp27

stages:
    - verify_runtime
    - test

verify_runtime:
    stage: verify_runtime
    script:
        - gleam --version
        - rebar3 --version
        - erl -version
    rules:
        - changes:
              - backend/**/*
              - cli_client/**/*
              - gleam-docker-runtime/**/*

test:backend:
    script:
        - cd backend
        - gleam run &
        - sleep 3
        - gleam test
    after_script:
        - killall beam.smp || true
    rules:
        - changes:
              - backend/**/*

test:cli_client:
    script:
        - cd cli_client
        - gleam test
    rules:
        - changes:
              - cli_client/**/*

# cache:
#   paths:
#     - ~/.cache/gleam

cicd: add new pipeline ( run http server before tests )
  .gitlab-ci.yml
  backend/src/backend.gleam
Due: verify_runtime, test:backend

cicd: use nodejs runtime specific for target js compilation
  cli_client/manifest.toml
  gleam-docker-runtime/Dockerfile
Due: verify_runtime, test:cli_client

init backend
  backend/.env
  backend/.gitattributes
  backend/.gitignore
  backend/.mvn/wrapper/maven-wrapper.properties
  backend/gleam.toml
  backend/manifest.toml
  backend/mvnw
  backend/mvnw.cmd
  backend/pom.xml
  backend/src/backend.gleam
  backend/src/main/java/app/habittracker/backend/BackendApplication.java
  backend/src/main/resources/application.properties
  backend/src/test/java/app/habittracker/backend/BackendApplicationTests.java
  backend/test/backend_test.gleam
Due: verify_runtime, test:backend

init client
  client/.gitignore
  client/README.md
  client/bun.lock
  client/package-lock.json
  client/package.json
  client/public/favicon.ico
  client/public/index.html
  client/public/logo192.png
  client/public/logo512.png
  client/public/manifest.json
  client/public/robots.txt
  client/src/App.css
  client/src/App.js
  client/src/App.test.js
  client/src/index.css
  client/src/index.js
  client/src/logo.svg
  client/src/reportWebVitals.js
  client/src/setupTests.js
Due: none

refactor: get rid of a old gleam code
  .gitlab-ci.yml
  .idea/.gitignore
  .idea/compiler.xml
  .idea/encodings.xml
  .idea/fastRequest/fastRequestCurrentProjectLocalConfig.xml
  .idea/go.imports.xml
  .idea/google-java-format.xml
  .idea/habit-lens.iml
  .idea/jarRepositories.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
  README.md
  cli_client/.github/workflows/test.yml
  cli_client/.gitignore
  cli_client/README.md
  cli_client/gleam.toml
  cli_client/manifest.toml
  cli_client/src/cli_client.gleam
  cli_client/test/cli_client_test.gleam
  gleam-docker-runtime/.gitlab-ci.yml
  gleam-docker-runtime/Dockerfile
  schema.sql
Due: verify_runtime, test:cli_client

refactor: reinit client with vite build system
  client/.gitignore
  client/README.md
  client/bun.lock
  client/eslint.config.js
  client/index.html
  client/package-lock.json
  client/package.json
  client/public/favicon.ico
  client/public/index.html
  client/public/logo192.png
  client/public/logo512.png
  client/public/manifest.json
  client/public/robots.txt
  client/src/App.css
  client/src/App.js
  client/src/App.test.js
  client/src/App.tsx
  client/src/index.css
  client/src/index.js
  client/src/logo.svg
  client/src/main.tsx
  client/src/reportWebVitals.js
  client/src/setupTests.js
  client/tsconfig.app.json
  client/tsconfig.json
  client/tsconfig.node.json
  client/vite.config.ts
Due: none

feat: add all icon types of logo
  client/src/assets/images/icons/logo/1024x1024.png
  client/src/assets/images/icons/logo/128x128.png
  client/src/assets/images/icons/logo/16x16.png
  client/src/assets/images/icons/logo/24x24.png
  client/src/assets/images/icons/logo/256x256.png
  client/src/assets/images/icons/logo/32x32.png
  client/src/assets/images/icons/logo/48x48.png
  client/src/assets/images/icons/logo/512x512.png
  client/src/assets/images/icons/logo/64x64.png
Due: none

config: web cors configuration allowed all
  backend/src/main/java/app/habittracker/backend/config/WebConfig.java
Due: verify_runtime, test:backend

cicd: change config to auto deploy frontend on commit
  .gitlab-ci.yml
Due: none

cicd: configure vite to match gitlab pages discovery requirements
  .gitlab-ci.yml
  client/vite.config.ts
Due: none

cicd: add initial config with maven testing
  .fastRequest/config/fastRequestCurrentProjectConfig.json
  .gitlab-ci.yml
  .idea/misc.xml
Due: none

feat: backend for sse timer endpoint
  .idea/elasticsearchSettings.xml
  backend/src/main/java/app/habittracker/backend/timer/TimerController.java
  backend/src/main/resources/application.properties
  client/src/components/header/Header.tsx
Due: verify_runtime, test:backend

cicd: use gitlab pages for website local hosting
  .gitlab-ci.yml
Due: none

cicd: test pages deployment on changes of files
  client/src/App.tsx
Due: none

feat: timer event source connector to sse backend
  client/src/App.tsx
  client/src/components/timer/Timer.tsx
Due: none

fix: optimize executor timer with virtual threads feature
  backend/src/main/java/app/habittracker/backend/timer/TimerController.java
Due: verify_runtime, test:backend

cicd: include bun runtime
  .gitlab-ci.yml
Due: none

cicd: use bun image for frontend deploy
  .gitlab-ci.yml
Due: none

feat: add docker image for a project
  docker-image/Dockerfile
  docker-image/build-docker-image.sh
Due: none

fix: ignore IDE configs in project
  .gitlab-ci.yml
  .idea/misc.xml
  backend/.gitattributes
  backend/.gitignore
  backend/.mvn/wrapper/maven-wrapper.properties
  backend/mvnw
  backend/mvnw.cmd
  backend/pom.xml
  backend/src/main/java/app/habittracker/backend/BackendApplication.java
  backend/src/main/java/app/habittracker/backend/config/WebConfig.java
  backend/src/main/java/app/habittracker/backend/timer/TimerController.java
  backend/src/main/resources/application.properties
  backend/src/test/java/app/habittracker/backend/BackendApplicationTests.java
  client/.gitignore
  client/README.md
  client/bun.lock
  client/eslint.config.js
  client/index.html
  client/package.json
  client/src/App.css
  client/src/App.tsx
  client/src/assets/images/icons/logo/1024x1024.png
  client/src/assets/images/icons/logo/128x128.png
  client/src/assets/images/icons/logo/16x16.png
  client/src/assets/images/icons/logo/24x24.png
  client/src/assets/images/icons/logo/256x256.png
  client/src/assets/images/icons/logo/32x32.png
  client/src/assets/images/icons/logo/48x48.png
  client/src/assets/images/icons/logo/512x512.png
  client/src/assets/images/icons/logo/64x64.png
  client/src/components/header/Header.tsx
  client/src/components/timer/Timer.tsx
  client/src/main.tsx
  client/tsconfig.app.json
  client/tsconfig.json
  client/tsconfig.node.json
  client/vite.config.ts
  docker-image/Dockerfile
  docker-image/build-docker-image.sh
Due: verify_runtime, test:backend

fix: remove ide files from all git repos
  .gitignore
  .gitlab-ci.yml
  backend/.gitattributes
  backend/.gitignore
  backend/.mvn/wrapper/maven-wrapper.properties
  backend/mvnw
  backend/mvnw.cmd
  backend/pom.xml
  backend/src/main/java/app/habittracker/backend/BackendApplication.java
  backend/src/main/java/app/habittracker/backend/config/WebConfig.java
  backend/src/main/java/app/habittracker/backend/timer/TimerController.java
  backend/src/main/resources/application.properties
  backend/src/test/java/app/habittracker/backend/BackendApplicationTests.java
  client/.gitignore
  client/README.md
  client/bun.lock
  client/eslint.config.js
  client/index.html
  client/package.json
  client/src/App.css
  client/src/App.tsx
  client/src/assets/images/icons/logo/1024x1024.png
  client/src/assets/images/icons/logo/128x128.png
  client/src/assets/images/icons/logo/16x16.png
  client/src/assets/images/icons/logo/24x24.png
  client/src/assets/images/icons/logo/256x256.png
  client/src/assets/images/icons/logo/32x32.png
  client/src/assets/images/icons/logo/48x48.png
  client/src/assets/images/icons/logo/512x512.png
  client/src/assets/images/icons/logo/64x64.png
  client/src/components/header/Header.tsx
  client/src/components/timer/Timer.tsx
  client/src/main.tsx
  client/tsconfig.app.json
  client/tsconfig.json
  client/tsconfig.node.json
  client/vite.config.ts
  docker-image/Dockerfile
  docker-image/build-docker-image.sh
Due: verify_runtime, test:backend

refactor: remove all ide files
  .fastRequest/config/fastRequestCurrentProjectConfig.json
  .idea/.gitignore
  .idea/compiler.xml
  .idea/elasticsearchSettings.xml
  .idea/encodings.xml
  .idea/fastRequest/fastRequestCurrentProjectLocalConfig.xml
  .idea/go.imports.xml
  .idea/google-java-format.xml
  .idea/habit-lens.iml
  .idea/jarRepositories.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
Due: none

cicd: use custom alpine image from project
  .gitlab-ci.yml
Due: none

cicd: gitlab pages add deploy stage
  .gitlab-ci.yml
  docker-image/build-docker-image.sh
Due: none

cicd: remove base paths for gitlab pages
  .gitlab-ci.yml
  client/vite.config.ts
Due: none

cicd: remove base paths for gitlab pages
  client/vite.config.ts
Due: none

fix: ignore IDE configs in project
  .gitlab-ci.yml
  client/README.md
Due: none

feat: create modular form base base parts
  client/src/App.tsx
  client/src/components/account_management_panel/AccountManagementPanel.tsx
  client/src/components/account_management_panel/FormType.tsx
  client/src/components/account_management_panel/LoginForm.tsx
  client/src/components/account_management_panel/ModalForm.tsx
Due: none

feat: create router navigation between account panel parts
  .vscode/settings.json
  backend/bun.lock
  client/bun.lock
  client/package.json
  client/src/App.tsx
  client/src/components/account_management_panel/AccountManagementPanel.tsx
  client/src/components/account_management_panel/LoginForm.tsx
  client/src/components/account_management_panel/ModalForm.tsx
  client/src/components/account_management_panel/SignUpForm.tsx
  client/src/main.tsx
Due: verify_runtime, test:backend

refactor: remove spacer from modal form
  client/src/components/account_management_panel/LoginForm.tsx
  client/src/components/account_management_panel/ModalForm.tsx
Due: none

feat: create email code confirmation form UI
  client/src/components/account_management_panel/EmailCodeConfigramationForm.tsx
  client/src/components/account_management_panel/LoginForm.tsx
  client/src/components/account_management_panel/ModalForm.tsx
  client/src/components/account_management_panel/SignUpForm.tsx
Due: none

feat: add html elements extensions to the custom modal form elements
  client/src/components/account_management_panel/ModalForm.tsx
Due: none

feat: for each form element add form submit template function
  client/src/components/account_management_panel/EmailCodeConfigramationForm.tsx
  client/src/components/account_management_panel/LoginForm.tsx
  client/src/components/account_management_panel/SignUpForm.tsx
Due: none

refactor: ignore ide files
  .gitignore
  .vscode/settings.json
Due: none

refactor: move backend to gleam
  README.md
  backend/.gitattributes
  backend/.github/workflows/test.yml
  backend/.gitignore
  backend/.mvn/wrapper/maven-wrapper.properties
  backend/bun.lock
  backend/gleam.toml
  backend/mvnw
  backend/mvnw.cmd
  backend/pom.xml
  backend/src/backend.gleam
  backend/src/main/java/app/habittracker/backend/BackendApplication.java
  backend/src/main/java/app/habittracker/backend/config/WebConfig.java
  backend/src/main/java/app/habittracker/backend/timer/TimerController.java
  backend/src/main/resources/application.properties
  backend/src/test/java/app/habittracker/backend/BackendApplicationTests.java
  backend/test/backend_test.gleam
Due: verify_runtime, test:backend

refactor: remove interfaces for props
  client/src/components/account_management_panel/AccountManagementPanel.tsx
  client/src/components/account_management_panel/EmailCodeConfigramationForm.tsx
  client/src/components/account_management_panel/FormType.tsx
  client/src/components/account_management_panel/LoginForm.tsx
  client/src/components/account_management_panel/SignUpForm.tsx
  client/src/components/header/Header.tsx
  client/src/components/timer/Timer.tsx
Due: none
